<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navHeader">
            <div class="header">
                <img src="{{ url_for('static', filename='pictures/cross.webp') }}">
                <h2>The Hope Centered Church</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav> 
        </div>
        {% block content %} 
        {% endblock %}
    </body>
</html>